{% extends 'base.html.twig' %}
 {% form_theme editForm 'bootstrap_4_layout.html.twig' %}
{% block title %}metre a jour Adherent{% endblock %}

{% block body %}
<h1>metre a jour Adherent</h1>

 {{form_start(editForm)}}
 {{form_widget(editForm)}}
 
<button type="submit" class="btn btn-warning">modifier</button>
 
  
{{form_end(editForm)}}
 {% endblock %}